/mmc_test/mmc_speed_test
/mmc_test/mmc_write_test
/mmc_test/sdcard_testing
/spi_test/spi_test
/testing-nor
/testing-mmc
/testing-ipod
/testing-ddr
/memtester/auto-ccld.sh
/memtester/compile
/memtester/extra-libs
/memtester/find-systype
/memtester/load
/memtester/make-compile
/memtester/make-load
/memtester/memtester
/memtester/systype
/memtester/memtester.o
/memtester/tests.o
